{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table class="table table-bordered table-hover myTable1 js-score-log-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fname</th>
                <th>Lname</th>
                <th>Mobile</th>
                <th>Landline</th>
                <th>Email</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Address3</th>
                <th>Address4</th>
                <th>Postcode</th>
                <th>Dateofbirth</th>
                <th>Nationality</th>
                <th>Email2</th>
                <th>Email3</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.fName }}</td>
                <td>{{ client.lName }}</td>
                <td>{{ client.mobile }}</td>
                <td>{{ client.landline }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.address1 }}</td>
                <td>{{ client.address2 }}</td>
                <td>{{ client.address3 }}</td>
                <td>{{ client.address4 }}</td>
                <td>{{ client.postcode }}</td>
                <td>{% if client.dateofbirth %}{{ client.dateofbirth|date('Y-m-d') }}{% endif %}</td>
                <td>{{ client.nationality }}</td>
                <td>{{ client.email2 }}</td>
                <td>{{ client.email3 }}</td>
                <td>{{ client.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}">Create a new client</a>
        </li>
    </ul>
{% endblock %}
